<div class="container">
  <button type="button" class="btn btn-primary mt-5 mb-5" data-toggle="modal" data-target="#exampleModal">
    Dodaj zadanie
  </button>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 mt-3" *ngFor="let task of tasks">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ task.title }}</h5>
          <p><b>{{ task.dueDate }}</b></p>
          <p class="card-text">{{ task.description }}</p>
          <p>Status: {{ task.status }}</p>
          <div class="d-flex w-100 justify-content-between">
            <a href="#" class="btn btn-primary" (click)="currentTask(task)" data-target="#editModal" data-toggle="modal">Edytuj</a>
            <a href="#" class="btn btn-danger" (click)="deleteTask(task.id)">Usuń</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="taskForm" (ngSubmit)="saveTask()" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodaj zadanie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="title">Tytuł</label>
          <input type="text" class="form-control" id="title" formControlName="title" required>
        </div>
        <div class="form-group">
          <label for="description">Opis</label>
          <textarea class="form-control" id="description" formControlName="description" required></textarea>
        </div>
        <div class="form-group">
          <label for="dueDate">Data do wykonania</label>
          <input type="date" class="form-control" id="dueDate" formControlName="dueDate" required>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" id="status" formControlName="status" required>
            <option value="" disabled selected>Wybierz status</option>
            <option value="Do zrobienia">Do zrobienia</option>
            <option value="W trakcie">W trakcie</option>
            <option value="Zrobione">Zrobione</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Anuluj</button>
        <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">Dodaj</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="editModal">
  <div class="modal-dialog">
    <form [formGroup]="taskForm" (ngSubmit)="editTask()" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edytuj zadanie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="title">Tytuł</label>
          <input type="text" class="form-control" formControlName="title" [(ngModel)]="current.title" required>
        </div>
        <div class="form-group">
          <label for="description">Opis</label>
          <textarea class="form-control" formControlName="description" [(ngModel)]="current.description" required></textarea>
        </div>
        <div class="form-group">
          <label for="dueDate">Data do wykonania</label>
          <input type="date" class="form-control" formControlName="dueDate" [(ngModel)]="current.dueDate" required>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" formControlName="status" [(ngModel)]="current.status" required>
            <option value="" disabled selected>Wybierz status</option>
            <option value="Do zrobienia">Do zrobienia</option>
            <option value="W trakcie">W trakcie</option>
            <option value="Zrobione">Zrobione</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Anuluj</button>
        <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">Edytuj</button>
      </div>
    </form>
  </div>
</div>



